@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-family: "Space Mono", monospace;
}
:root{
    --background-color: #F6F8FF;
    --font-family: "Space Mono", monospace;
    --color:#666;
    --color2:#0079FF;
    --color3: #fff;
    --color4: #000;
    --dark-color:#141D2F;
    --dark-color2:#1E2A47;
}
/* dark  */
.mainDark{
    height: 100vh;
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.darkBody{
    height: 100vh;
    background-color: var(--dark-color);
}
.lightBody{
    height: 100vh;
    background-color: var(--background-color)
}

/* main div  */
/* light  */
.main{
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.parent{
    height: 50px;
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.img > h5{
    font-size: 1.5rem;
    font-family: var(--font-family);
    color: var(--color2);
}
/* light  */
.img > h5 >.span{
    color: var(--color4);
}
/* dark  */
.img > h5 > .spanDark{
    color: var(--color3);
}

/* light  */
.button > .btn2{
    height: 35px;
    min-width: 120px;
    width: 130px;
    outline: none;
    border: none;
    font-family: var(--font-family);
    border-radius: 5px;
    color: var(--color4);
    font-size: 1.2rem;
    font-weight: normal;
    cursor: pointer;
    margin-top: 3px;
    background-color: transparent;
}
.button > .btn2 >i{
    font-weight: normal;
}
/* dark  */
.button > .btn2Dark{
    height: 35px;
    min-width: 120px;
    width: 130px;
    outline: none;
    border: none;
    font-family: var(--font-family);
    border-radius: 5px;
    color: var(--color3);
    font-size: 1.2rem;
    font-weight: normal;
    cursor: pointer;
    margin-top: 3px;
    background-color: transparent;
}

/* Input design  */
/* light  */
.myInput{
    height: auto;
    width: 45%;
    border-radius: 10px;
    background-color: var(--color3);
    display: flex;
    /* border: 2px solid black; */
}
/* dark  */
.myInputDark {
    height: auto;
    width: 45%;
    border-radius: 10px;
    background-color: var(--dark-color2);
    display: flex;
}
.inputIcon{
    height: auto;
    width: 70px;
}
.inputIcon > i{
   display: flex;
   justify-content: center;
   padding-top: 15px;
   font-size: 1.5rem;
   color: var(--color2);
}
.input{
    height: auto;
    width: 500px;
}

/* light  */
.input1{
    height: auto;
    width: 85%;
    outline: none;
    font-size: 1.2rem;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: transparent;
    color: var(--color);
    font-family: var(--font-family);
    border: none;
}
.input1::placeholder{
    color: var(--color);
    font-family: var(--font-family);
    background-color: transparent;
}

/* dark  */
.input1Dark{
    height: auto;
    width: 85%;
    outline: none;
    font-size: 1.2rem;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: transparent;
    color: var(--color3);
    font-family: var(--font-family);
    border: none;
}
.input1Dark::placeholder{
    color: var(--color3);
    font-family: var(--font-family);
    background-color: transparent;
}
.input1:focus{
    border: 1px solid #fff;
}
.inputButton{
    height: auto;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputButton > .btn1{
    height: 40px;
    width: 130px;
    background-color: var(--color2);
    outline: none;
    border: none;
    font-family: var(--font-family);
    border-radius: 5px;
    color: var(--color3);
    font-weight: 700;
    cursor: pointer;
}
.inputButton > .btn1:active{
    border: 3px solid darkblue;
}

/* user data show  */
/* light  */
.box{
    height: auto;
    width: 45%;
    background-color: var(--color3);
    color: var(--color4);
    border-radius: 10px;
    display: flex;
}
/* dark  */
.boxDark{
    height: auto;
    width: 45%;
    background-color: var(--dark-color2);
    color: var(--color4);
    border-radius: 10px;
    display: flex;
    border-bottom: 4px solid var(--color3);
}
/* light  */
/* .sidebar {
    height: 100%;
    background-color: var(--dark-color);
    border: 2px solid red;
} */
.user-image{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 1px solid var(--color4);
    position: relative;
    top: 20px;
    left: 20px;
    overflow: hidden;
    background-color: var(--dark-color2);
} 
.user-image > img{
    height: 100%;
    width: 100%;
}
.user-data-show{
    height: auto;
    width: 100%;
    margin-left: 35px;

}
.parent1{
    height: auto;
    display: flex;
}
.githubName{
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.githubName > .githubName2{
    font-family: var(--font-family);
    color: #000;
}
.githubName > .githubName2Dark{
    font-family: var(--font-family);
    color: var(--color3);
}
.githubName > .githubName3{
    font-family: var(--font-family);
    color: #000;
    position: relative;
    left: 4px;
}
.githubName > .githubName3Dark{
    font-family: var(--font-family);
    color: var(--color3);
    position: relative;
    left: 4px;
}
.githubJoin{
    height: 100px;
    width: 40%;
}
.githubJoin1{
    font-family: var(--font-family);
    color: var(--color);
    font-weight: 500;
    position: relative;
    top: 35px;
}
.githubJoin1Dark{
    font-family: var(--font-family);
    color: var(--color3);
    font-weight: 500;
    position: relative;
    top: 35px;
}
.userBio{
    min-height: 80px;
    width: 100%;
}
.userBio1{
    font-family: var(--font-family);
    color: var(--color);
    font-weight: 500;
    padding-right: 35px;
}
.userBio1Dark{
    font-family: var(--font-family);
    color: var(--background-color);
    font-weight: 500;
    padding-right: 35px;
}
.parent2{
    height: auto;
    width: 85%;
    background-color:var(--background-color) ;
    position: relative;
    top: 0;
    left: 5;
    border-radius:10px;
    display: flex;
    justify-content: center;
}
.parent2Dark{
    height: auto;
    width: 80%;
    background-color:var(--dark-color) ;
    position: relative;
    top: 10px;
    left: 5;
    border-radius:10px;
    display: flex;
    justify-content: center;
}
.Repo{
    height: auto;
    width: 30%;
    padding-bottom: 20px;
}
.Repo > .repo1{
    font-family: var(--font-family);
    text-align: center;
    padding-top: 20px;
    color: var(--color);
    font-weight: 500 !important;
}
.Repo > .repo1Dark{
    font-family: var(--font-family);
    text-align: center;
    padding-top: 20px;
    color: var(--color3);
    font-weight: 500;
}
.repo2{
    position: relative;
    left: 55px;
    padding-top: 8px !important;
    font-weight: 500;
}
.repo2Dark{
    position: relative;
    left: 55px;
    padding-top: 8px !important;
    color: var(--color3) !important;
    font-weight: 500;
}
.Followers{
    height: auto;
    width: 30%;
    padding-bottom: 20px;
    color: var(--color);
    font-weight: 600;
}
.Followers > .followers1{
    font-family: var(--font-family);
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
}
.Followers > .followers1Dark{
    font-family: var(--font-family);
    text-align: center;
    padding-top: 20px;
    color: var(--color3);
    font-weight: 500;
}
.followers2{
    position: relative;
    left: 50px;
    padding-top: 8px !important;
    font-weight: 500;
}
.followers2Dark{
    position: relative;
    left: 50px;
    padding-top: 8px !important;
    font-weight: 500;
    color: var(--color3);
}
.Following{
    height: auto;
    width: 30%;
    padding-bottom: 20px; 
}
.Following > .following1{
    font-family: var(--font-family);
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
    color: var(--color);
}
.Following > .following1Dark{
    font-family: var(--font-family);
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
    color: var(--color3);
}
.following2{
    position: relative;
    left: 58px;
    padding-top: 8px !important;
    color: var(--color);
    font-weight: 500;
}
.following2Dark{
    position: relative;
    left: 55px;
    padding-top: 8px !important;
    font-weight: 500;
    color: var(--color3);
}
.location{
    height: 60px;
    margin-top: 20px;
    position: relative;
}
.icon {
    font-size: 1.4rem;
    color: var(--color);
    position: relative;
    top: 15px;
    left: 0; 
}
/* .icon1Dark{
    font-size: 1.4rem;
    color: var(--color3);
    position: relative;
    top: 15px;
    left: 0; 
} */
.location > .location2 {
    font-family: var(--font-family);
    position: absolute;
    left: 40px;
    top: 13px;
    color: var(--color);
    font-weight: 500;
}
.location > .location2Dark {
    font-family: var(--font-family);
    position: absolute;
    left: 40px;
    top: 13px;
    color: var(--color3);
    font-weight: 500;
}
.User-Github-URl{
    height: 70px;
    width: 100%;
    position: relative;
}
.User-Github-URl > .icon2 {
    font-size: 1.4rem;
    color: var(--color);
    position: relative;
    top: 15px;
    left: 0; 
}
/* .User-Github-URl > .icon2Dark {
    font-size: 1.4rem;
    color: var(--color3);
    position: relative;
    top: 15px;
    left: 0; 
} */
.User-Github-URl > .url {
    font-family: var(--font-family);
    position: absolute;
    left: 50px;
    top: 13px;
    color: var(--color);
    font-weight: 500;
    padding-right: 10px;
}
.User-Github-URl > .urlDark {
    font-family: var(--font-family);
    position: absolute;
    left: 50px;
    top: 13px;
    color: var(--color3);
    padding-right: 10px;
    font-weight: 500;
}