@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #F6F8FF;
    --font-family: "Space Mono", monospace;
    --color:#666;
    --color2:#0079FF;
    --color3: #fff;
    --color4: #000;
    --dark-color:#141D2F;
    --dark-color2:#1E2A47;
}
/* dark  */
.mainDark{
    height: 100vh;
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 2px solid red;
}

/* main div  */
/* light  */
.main{
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 2px solid red;
}

.parent{
    height: 50px;
    width: 730px;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}
.img > h5{
    font-size: 1.5rem;
    font-family: var(--font-family);
    color: var(--color2);
}
/* light  */
.img > h5 >.span{
    color: var(--color4);
}
/* dark  */
.img > h5 > .spanDark{
    color: var(--color3);
}

/* light  */
.button > .btn2{
    height: 35px;
    min-width: 120px;
    width: 130px;
    outline: none;
    border: none;
    font-family: var(--font-family);
    border-radius: 5px;
    color: var(--color4);
    font-size: 1.2rem;
    font-weight: normal;
    cursor: pointer;
    margin-top: 3px;
    background-color: transparent;
}
.button > .btn2 >i{
    font-weight: normal;
}
/* dark  */
.button > .btn2Dark{
    height: 35px;
    min-width: 120px;
    width: 130px;
    outline: none;
    border: none;
    font-family: var(--font-family);
    border-radius: 5px;
    color: var(--color3);
    font-size: 1.2rem;
    font-weight: normal;
    cursor: pointer;
    margin-top: 3px;
    background-color: transparent;
}

/* Input design  */
/* light  */
.myInput{
    height: auto;
    width: 45%;
    border-radius: 10px;
    background-color: var(--color3);
    display: flex;
    border: 2px solid black;
}
/* dark  */
.myInputDark {
    height: auto;
    width: 45%;
    border-radius: 10px;
    background-color: var(--dark-color2);
    display: flex;
}
.inputIcon{
    height: auto;
    width: 70px;
}
.inputIcon > i{
   display: flex;
   justify-content: center;
   padding-top: 15px;
   font-size: 1.5rem;
   color: var(--color2);
}
.input{
    height: auto;
    width: 500px;
}

/* light  */
.input1{
    height: auto;
    width: 85%;
    outline: none;
    font-size: 1.2rem;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: transparent;
    color: var(--color);
    font-family: var(--font-family);
    border: none;
}
.input1::placeholder{
    color: var(--color);
    font-family: var(--font-family);
    background-color: transparent;
}

/* dark  */
.input1Dark{
    height: auto;
    width: 85%;
    outline: none;
    font-size: 1.2rem;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: transparent;
    color: var(--color3);
    font-family: var(--font-family);
    border: none;
}
.input1Dark::placeholder{
    color: var(--color3);
    font-family: var(--font-family);
    background-color: transparent;
}
.input1:focus{
    border: 1px solid #fff;
}
.inputButton{
    height: auto;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputButton > .btn1{
    height: 40px;
    width: 130px;
    background-color: var(--color2);
    outline: none;
    border: none;
    font-family: var(--font-family);
    border-radius: 5px;
    color: var(--color3);
    font-weight: 700;
    cursor: pointer;
}
.inputButton > .btn1:active{
    border: 3px solid darkblue;
}

/* user data show  */
/* light  */
.box{
    height: auto;
    width: 45%;
    background-color: var(--color3);
    color: var(--color4);
    border-radius: 10px;
    display: grid;
    grid-template-areas: "sidebar main main main";
    border: 2px solid red;
}
/* dark  */
.boxDark{
    height: auto;
    width: 45%;
    background-color: var(--dark-color2);
    color: var(--color4);
    border-radius: 10px;
    display: grid;
    grid-template-areas: "sidebar main main main";
    border: 2px solid red;
}
/* light  */
.sidebar{
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: 2px solid red;
}
/* dark  */
.sidebarDark{
    height: 100%;
    width: 100%;
    background-color: var(--dark-color2); 
    padding-bottom: 10px !important;
}
.user-image{
    height: 140px;
    width: 140px;
    border-radius: 100%;
    grid-area: sidebar;
    border: 2px solid var(--color);
    position: relative;
    top: 20px;
    left: 20px;
    overflow: hidden;
}
.user-image > img{
    height: 100%;
    width: 100%;
}
.user-data-show{
    height: auto;
    width: 92%;
    grid-area: main;
    margin-left: 35px;

}
.parent1{
    height: auto;
    display: flex;
}
.githubName{
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.githubName > h2{
    font-family: var(--font-family);
}
#UserName{
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--color2);
    font-weight: 500;
}
.githubJoin{
    height: 100px;
    width: 40%;
}
#GithubJoin{
    font-family: var(--font-family);
    color: var(--color);
    font-weight: 500;
    position: relative;
    top: 35px;
}
.userBio{
    min-height: 80px;
}
#UserBio{
    font-family: var(--font-family);
    color: var(--color);
    font-weight: 500;
    padding-right: 25px;
}
.parent2{
    height: auto;
    width: 80%;
    background-color:var(--background-color) ;
    position: relative;
    top: 10px;
    left: 15px;
    border-radius:10px;
    display: flex;
    justify-content: center;
}
.parent2Dark{
    height: auto;
    width: 80%;
    background-color:var(--dark-color2) ;
    position: relative;
    top: 10px;
    left: 15px;
    border-radius:10px;
    display: flex;
    justify-content: center;
}
.Repo{
    height: auto;
    width: 30%;
    padding-bottom: 20px;
}
.Repo > h4{
    font-family: var(--font-family);
    text-align: center;
    padding-top: 20px;
    color: var(--color);
    font-weight: 600;
}
#repo{
    padding-top: 5px !important;
    color: var(--color);
    font-weight: 500;
}
.Followers{
    height: auto;
    width: 30%;
    padding-bottom: 20px;
    color: var(--color);
    font-weight: 600;
}
.Followers > h4{
    font-family: var(--font-family);
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
}
#followers{
    padding-top: 5px !important;
    color: var(--color);
    font-weight: 500;
}
.Following{
    height: auto;
    width: 30%;
    padding-bottom: 20px; 
}
.Following > h4{
    font-family: var(--font-family);
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    color: var(--color);
}
#following{
    padding-top: 5px !important;
    color: var(--color);
    font-weight: 500;
}
.location{
    height: 60px;
    margin-top: 20px;
    position: relative;
}
.location > i {
    font-size: 1.4rem;
    color: var(--color);
    position: relative;
    top: 15px;
    left: 10px; 
}
.location > h4 {
    font-family: var(--font-family);
    position: absolute;
    left: 40px;
    top: 13px;
    color: var(--color);
    font-weight: 500;
}
.User-Github-URl{
    height: 70px;
    position: relative;
}
.User-Github-URl > i {
    font-size: 1.4rem;
    color: var(--color);
    position: relative;
    top: 15px;
    left: 10px; 
}
.User-Github-URl > h4 {
    font-family: var(--font-family);
    position: absolute;
    left: 50px;
    top: 13px;
    color: var(--color);
    font-weight: 500;
}