@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #F6F8FF;
    --font-family: "Space Mono", monospace;
    --color:#666;
    --color2:#0079FF;
    --color3: #fff;
    --color4: #000;
}

/* main div  */
.main{
    height: 100vh;
    border: 2px solid red;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* Input design  */
.myInput{
    height: 60px;
    width: 45%;
    border-radius: 10px;
    background-color: var(--color3);
    display: flex;
}
.inputIcon{
    height: 55px;
    width: 70px;
}
.inputIcon > i{
   display: flex;
   justify-content: center;
   padding-top: 15px;
   font-size: 1.5rem;
   color: var(--color2);
}
.input{
    height: 60px;
    width: 500px;
}
input{
    width: 65%;
    outline: none;
    font-size: 1.2rem;
    padding-top: 12px;
    color: var(--color);
    font-family: var(--font-family);
    border: none;
}
input::placeholder{
    color: var(--color);
    font-family: var(--font-family);
}
.inputButton{
    height: 60px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputButton > .btn1{
    height: 40px;
    width: 130px;
    background-color: var(--color2);
    outline: none;
    border: none;
    font-family: var(--font-family);
    border-radius: 5px;
    color: var(--color3);
    font-weight: 700;
}

/* user data show  */
.box{
    height: 400px;
    width: 45%;
    background-color: var(--color3);
    color: var(--color4);
    border-radius: 10px;
    display: grid;
    grid-template-areas: "sdbr main main main";
}
.user-image{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    grid-area: sdbr;
    border: 2px solid red;
    position: relative;
    top: 20px;
    left: 20px;
    overflow: hidden;
}
.user-image > img{
    height: 100%;
    width: 100%;
}
.user-data-show{
    height: 400px;
    width: 550px;
    border: 2px solid red;
    grid-area: main;
    margin-left: 40px;

}
.parent{
    height: auto;
    display: flex;
    border: 2px solid black;
}
.githubName{
    height: auto;
    width: 60%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.githubName > h2{
    font-family: var(--font-family);
}
#UserName{
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--color2);
    font-weight: 500;
}
.githubJoin{
    height: 100px;
    width: 40%;
    border: 2px solid red;
}
#UserBio{
    font-family: var(--font-family);
    color: var(--color);
    font-weight: 500;
}

.parent2{
    height: 100px;
    width: 250px;
    border: 2px solid red;
}